@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
body {
  background: rgb(255,200,156);
  background: radial-gradient(circle, rgba(255,200,156,1) 0%, rgba(242,222,244,1) 100%);
}
h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: df-serif-display-regular-italic;
}
 .App {
  text-align: center;
}
